[submodule "rng-game/hello-world"]
	path = rng-game/hello-world
	url = https://github.com/subhadeep-sengupta/hello-world.git
	branch = main
[submodule "rng-game/guess-the-number"]
	path = rng-game/guess-the-number
	url = https://github.com/subhadeep-sengupta/guess-the-number.git
[submodule "rng/rust-counter"]
	path = rng/rust-counter
	url = https://github.com/subhadeep-sengupta/rust-counter.git
[submodule "rng-game/rust-counter"]
	path = rng-game/rust-counter
	url = https://github.com/subhadeep-sengupta/rust-counter.git
[submodule "my-grep"]
	path = my-grep
	url = https://github.com/subhadeep-sengupta/my-grep.git
[submodule "sol-counter"]
	path = sol-counter
	url = https://github.com/subhadeep-sengupta/sol-counter.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/subhadeep-sengupta/rustlings.git
[submodule "token-mint"]
	path = token-mint
	url = https://github.com/subhadeep-sengupta/token-mint.git
[submodule "token-vault"]
	path = token-vault
	url = https://github.com/subhadeep-sengupta/token-vault.git
[submodule "token-escrow"]
	path = token-escrow
	url = https://github.com/subhadeep-sengupta/token-escrow.git
[submodule "nft-collection"]
	path = nft-collection
	url = git@github.com:subhadeep-sengupta/nft-collection.git
[submodule "nft-marketplace"]
	path = nft-marketplace
	url = git@github.com:subhadeep-sengupta/nft-marketplace.git
[submodule "tinysearch"]
	path = tinysearch
	url = git@github.com:subhadeep-sengupta/tinysearch.git
